.player-list-container {
  height: 97vh;
  width: 33vw;
  padding: 0 20px 20px 20px;
  overflow-y: auto;
  background-color: #181818;
  > .select-message {
    margin-top: 50vh;
    margin-left: 22vh;
    color: aliceblue;
    font-weight: bold;
    font-size: 2.5vh;
  }
  > .header {
    padding-top: 10px;
    display: flex;
    background-color: #181818;
    color: aliceblue;
    position: sticky;
    justify-items: center;
    top: 0;
    width: 100%;
    > img {
      height: 10vh;
      width: auto;
    }
  }
  > ul {
    padding: 0;
  }
}


@media screen and (max-width: 768px) {
  .player-list-container {
    padding: 0;
  }
}
